@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
    </html>*@
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Usertemp/css/style.css" type="text/css" media="all" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<style>
            navbar-collapse.collaps .nav.navbar-nav li:hover {
                background-color: #ddd;
                color: red;
            }
        </style>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Home", "Registration", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href=""></a></li>
                    <li>@Html.ActionLink("gestion des equipement", "gestequip", "mainten")</li>
                    <li>@Html.ActionLink("gestion des réparations", "Index", "type_entretien")</li>
                    <li>@Html.ActionLink("demande de pieces", "dempiec", "mainten")</li>
                    <li>@Html.ActionLink("gestion des départements", "Homee", "departements")</li>

                    <li>@Html.ActionLink("gestion des types d'équipements", "Index", "types")</li>
                    @*<li>@Html.ActionLink("statistiques", "stat", "mainten")</li>*@
                    @*<li>@Html.ActionLink("Edit", "Edit", "mainten")</li>*@

                    @*<li>@Html.ActionLink("ajout demande", "Ajoudema", "Client")</li>
                        @*<li>@Html.ActionLink("Accueil", "Index", "Home")</li>
            <li>@Html.ActionLink("À propos de", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                <ul class=" topnav-right " style="float:right !important">
                    @if (Session["login"] != null)
                    {
                                 
                                <li><p style="color:#fff;margin-top:15px;">Hello @Session["login"]</p></li>
                                <li>@Html.ActionLink("Log Out", "LogOut", "User")</li>
                                                    }
                                                    else
                                                    {
                                <li>@Html.ActionLink("Sign up", "Registration", "User")</li>
                                <li>@Html.ActionLink("Sign in", "signin", "User")</li>
}

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
